pom.properties
Usuario/target/classes/META-INF/maven/es.us.lsi.dad/rest/pom.properties
*.properties
Usuario/target/classes/META-INF/maven/es.us.lsi.dad/rest/pom.properties
Usuario/target/classes/META-INF/MANIFEST.MF
